<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iTunes Plug-in</string>
	<key>CFBundleGetInfoString</key>
	<string>Last.fm iTunes Audioscrobbler plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>fm.last.iTunes Plug-in</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Audioscrobbler</string>
	<key>CFBundleDisplayName</key>
	<string>Last.fm iTunes Audioscrobbler Plug-in</string>
	<key>CFBundlePackageType</key>
	<string>hvpl</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleVersion</key>
	<string>3.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
</dict>
</plist>
