build/CMakeCache.txt
build/CMakeFiles
build/cmake_install.cmake
build/Makefile
build/resolvers
build/install_manifest.txt
bin
.DS_Store
*.pyc
*~
*.swp
*.ncb
*.suo

/win32/bin/playdar.lib
/win32/bin/playdar.pdb
/win32/bin/playdard.exe
/win32/bin/playdard.exp
/win32/bin/playdard.ilk
/win32/bin/playdard.lib
/win32/bin/playdard.pdb
/win32/bin/scanner.exe
/win32/bin/scanner.pdb
/win32/bin/scannerd.exe
/win32/bin/scannerd.ilk
/win32/bin/scannerd.pdb
/win32/bin/tag.dll
/win32/bin/playdar.exe
/win32/bin/playdar.exp
/win32/ossp_uiid/Debug/BuildLog.htm
/win32/moost_http/moost_http.vcproj.NOVACOMP.Norman.user
/win32/moost_http/ReadMe.txt
/win32/lib/moost_httpd.lib
/win32/lib/pdl.lib
/win32/lib/pdld.lib
/win32/lib/sqlite3pp.lib
/win32/lib/sqlite3ppd.lib
/win32/lib/sqlite-amalgamation.lib
/win32/lib/sqlite-amalgamationd.lib
/win32/lib/uriparser.lib
/win32/lib/uriparserd.lib
/win32/lib/json_spirit.lib
/win32/lib/moost_http.lib
