build/CMakeCache.txt
build/CMakeFiles
build/cmake_install.cmake
build/Makefile
build/resolvers
build/install_manifest.txt
bin
.DS_Store
*.pyc
*~
*.swp
*.ncb
*.suo
*.vcproj.*.user
win32/debug
win32/release
win32/*/Debug
win32/*/Release
win32/*/*/Debug
win32/*/*/Release

