<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>playdar.prefPane</string>
	<key>CFBundleIconFile</key>
	<string>playdar.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.playdar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Playdar</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>0.1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>main</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Playdar</string>
	<key>NSPrincipalClass</key>
	<string>OrgPlaydarPreferencePane</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUCheckAtStartup</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://www.methylblue.com/playdar/appcast.xml</string>
	<key>SUScheduledCheckInterval</key>
	<string>86400</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle.pem</string>
</dict>
</plist>
